/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

/* FORM */

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 32px;
}

.form input {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  transition: border-color 250ms ease;
}

.form input:hover {
  border-color: #000;
}

.form input:focus {
  border-color: #4e75ff;
}

.form button,
.load-more {
  min-width: 91px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.form button:hover,
.load-more:hover {
  background-color: #6c8cff;
}

/* GALLERY */

.gallery {
  width: 1128px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
  overflow: hidden;
}

.gallery-item img {
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 4px;
}

.info p {
  margin: 0;
  text-align: center;
  font-size: 12px;
  line-height: 1.33;
}

/* LOAD MORE */

.load-more {
  display: block;
  margin: 32px auto 16px;
}

/* HIDDEN */

.is-hidden {
  display: none;
}

/* LOADER */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ddd;
  border-bottom-color: #4e75ff;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
